<div class="comments-panel">
    <div>
        <div class="comments-logo">Comments #{{$ctrl.id+1}}</div>
        <ul>
            <li ng-repeat="comment in $ctrl.comments track by $index"><span class="comment-pic"></span>
                <comment comment="comment"></comment>
            </li>
        </ul>
    </div>
    <div class="comment-container">
        <span class="comments-pic"></span>
        <textarea class="comments-input comment-text" type="text"
                  ng-model="$ctrl.tempComment"
                  ng-keyup="$ctrl.addComment($event)"></textarea>
    </div>
</div>